<ul>
  <li><%= @article.title %> Created at: <%= @article.created_at %></li>
  <li>Price: $<%= @article.price %></li>
  <li>Location: <%= @article.location %></li>
  <li>Email: <%= @article.email %></li>
  <li>Content: <%= @article.content %></li>
</ul>
